# ACT - Lecture 1
*Table of contents*
1. Introduction
2. Applications, features and flavours of python
3. Datatypes and identifiers
4. Memory management
5. Typecasting
6. Collection Datatypes
    - list
    - tuple
    - set
    - frozenset
    - dictionaries
7. Operators
8. Conditional statements
    - If else statements
9. Loops 
    - for loop
        - break and continue statements

python developed by Guido Van Rossum and made it available on Feb 20th, 1991. <br>
VBA, Macros - tools for data analysis after Excel.<br>
Python inherits the features from C, C++, Script.<br>

### Application of python
1. Desktop based Software
2. Database application
3. Game development
4. AI&ML
5. Web Developement (YT's recommendation system)
6. IoT

### Features
1. High level
2. Portable (Write once, read anywhere i.e. it is platform independent language)
3. Dynamic
4. Extensible
5. Simple & Easy
6. Freeware & Opensource
7. Embedded
8. Extensive Library
9. Object Oriented Concept
10. GUI

### Flavours of python
1. Cpython - to work with c lang app
2. Jpython - to work with java lang app
3. Iron python - to work with C# .net app
4. Ruby python - to work with ruby app
5. Anaconda python - for ML, DL, DS

## What is a datatype?
Tells the type of value stored in a variable 
the python virtual machine internally determines the data type and we dont need to explicitly code it

In [3]:

p = 12 
q = 12.34
r = True
s = 'ksjfkls'

type(p), type(q),type(r), type(s)

(int, float, bool, str)

## Indentifiers in python
The name of variables, functions, class etc

**Rules** :
1. cant START with a digit, it has to be an alphabet
2. they are case sensitive
3. reserve words(key words) should not be allowed to declare as indenitifier
4. spaces are not allowed
5. no special symbol except underscore
6. If it start with a single underscore the it is a PRIVATE indenitifier
7. If it start with 2 underscores the it is a STRONGLY PRIVATE indenitifier

## String Slicing
Strings have both positive(starts from 0 - goes left to right) and negative indexing(starts from -1 - goes right to left)

In [13]:
string = 'geeksfornerds'
print(string[0])
print(string[-1])
print(string[0:-1:2])

g
s
gesonrs

## Memory Management

In [23]:
math = 50
phy = 50
chem = 50
eng = 40
print(id(math))
print(id(phy))
print(id(chem))
print(id(eng))

#you can see that the memory address of math, phy and chem are the same as they have the same value and all the three variables are referencing to the same memory bit

evs = 49
print(f'the memory location for evs when the values was 49 is - {id(evs)}')
evs = 39
print(f'the memory location for evs when the values was 39 is - {id(evs)}')

140062582245136
140062582245136
140062582245136
140062582244816
the memory location for evs when the values was 49 is - 140062582245104
the memory location for evs when the values was 39 is - 140062582244784

## Typecasting

Conversion of one data type to another is called Typecasting. <br>
Input function will always accept value as `string`. <br>
thats we typecast them into the required datatype. <br>

We can't typecast complex values

In [35]:
a = 9 + 4j
print(type(a))
# print(int(a))         #throws an error

<class 'complex'>

In [36]:
print(complex(3))
print(complex(12.5))
print(complex(True))
print(complex(False))
print(complex(5,-3))
# print(complex('name'))            #throws an error

(3+0j)
(12.5+0j)
(1+0j)
0j
(5-3j)

In [42]:
print(bool(0))
print(bool(89))
# print(bool(0,0))          #Throws an error
print(bool(1+2j))
print(bool(-1))

False
True
True
True

In [24]:
a = input('Enter a value for a')
b = input('Enter a value for b')
print(a, b)
print(type(a), type(b))

<class 'str'> <class 'str'>

In [26]:
#typecasting while taking input
a = int(input('Enter a value for a'))
b = int(input('Enter a value for b'))
print(a,b)
print(type(a), type(b))

67 89
<class 'int'> <class 'int'>

## Collection Datatypes

### List
Indexing starts with 0 <br>

**Used for** 
1. ordered data
2. storing heterogeneous data is possible
3. represented by [] (square brackets)
4. duplicate values can be stored
5. doesn't have a fixed sized, it's growable
6. It is mutable

**Operations used** 
1. append()
2. remove()
3. insert()
4. del()
5. clear()

In [46]:
mylist = ['abc', 'cfg', 45, True, 34.78]
print(mylist)

#slicing
print(mylist[0])
print(mylist[-1])
print(mylist[1:4])

['abc', 'cfg', 45, True, 34.78]
abc
34.78
['cfg', 45, True]

In [48]:
mylist.append('fsj')
# print(mylist)

['abc', 'cfg', 45, True, 34.78, 'fsj', 'fsj']

In [49]:
print(mylist)

['abc', 'cfg', 45, True, 34.78, 'fsj', 'fsj']

In [50]:
mylist.remove('fsj')

In [51]:
print(mylist)

['abc', 'cfg', 45, True, 34.78, 'fsj']

In [52]:
mylist.insert(3, 'vaishali')

In [53]:
print(mylist)

['abc', 'cfg', 45, 'vaishali', True, 34.78, 'fsj']

In [54]:
newlist = mylist.copy()
print(newlist)

['abc', 'cfg', 45, 'vaishali', True, 34.78, 'fsj']

#### Nested list

In [58]:
nested_list = [['nidhi','worah'],[45.67],['907','yyyy']]
print(nested_list)
print(nested_list[0][0])
print(nested_list[0][1])
print(nested_list[2][1])

[['nidhi', 'worah'], [45.67], ['907', 'yyyy']]
nidhi
worah
yyyy

In [60]:
list1 = ['element1', 'element2']
list2 = [7890.09]
print(list1*2)
print(list1 + list2)

['element1', 'element2', 'element1', 'element2']
['element1', 'element2', 7890.09]

In [61]:
del mylist[3]

In [63]:
print(mylist)

['abc', 'cfg', 45, True, 34.78, 'fsj']

In [62]:
newlist.clear()
print(newlist)

[]

In [70]:
#typecasting into a list
name = 'nidhi'
name_list = list(name)
print( name_list)
name_list.reverse()
print(name_list)
name_list.sort(reverse=True)
print(name_list)

['n', 'i', 'd', 'h', 'i']
['i', 'h', 'd', 'i', 'n']
['n', 'i', 'i', 'h', 'd']

### Tuple
Indexing starts with 0 <br>

**Used for** 
1. ordered data
2. storing heterogeneous data is possible
3. represented by () (paranthesis)
4. duplicate values can be stored
5. doesn't have a fixed sized, it's growable
6. It is immutable

**Operations used** 
1. append()
2. remove()
3. insert()
4. del()
5. clear()

In [1]:
mytuple = ('abc', 'cfg', 45, True, 34.78)
print(mytuple)
print(mytuple[3])
# mytuple[1] = 'sunil'
# print(mytuple)            ## tuples are immutable, therefore this gives out an erro

('abc', 'cfg', 45, True, 34.78)
True

In [2]:
tuple1 = ('element1', 'element2')
tuple2 = (89, 45.56)

In [3]:
tuple21 = tuple1 + tuple2
print(tuple21)

('element1', 'element2', 89, 45.56)

In [4]:
tuple21[0]

'element1'

#### Set
Used when we dont wanna allow duplication of values and to represent random data

1. no order wise data (random)
2. heterogeneous data are allowed
3. representation by {} 
4. duplicate data are not allowed
5. doesn't have a fixed sized, it's growable
6. It is mutable (changeable)

**operations** :
1. add()

In [5]:
myset = {'abc', 'cfg', 45, True, 34.78}
print(myset)
#generates random sequence of the data everytime you print it

{True, 34.78, 'cfg', 45, 'abc'}

In [6]:
myset.add(78)
myset

{34.78, 45, 78, True, 'abc', 'cfg'}

In [8]:
myset.update(range(1,10,2))
myset

{3, 34.78, 45, 5, 7, 78, 9, True, 'abc', 'cfg'}

In [10]:
myset.discard(69)
myset

{3, 34.78, 45, 5, 7, 78, 9, True, 'abc', 'cfg'}

In [11]:
# myset.remove(69)
#throws an error

KeyError: 69

**NOTE** 
when we're not sure if the value we want to remove is present in the set or not then we used `discard()` function and if we're sure that the element is present for sure then we use `remove()` function

In [15]:
set1 = {10,20,50,60,'nidhi'}
set2 = {'nidhi', 'worah'}

#union
union_set = set1.union(set2)
print(union_set)

#intersection
print(set1.intersection(set2))

#difference 

'''
prints the value present in set 1 and not in set 2
'''
print(set1.difference(set2))

'''
prints the value present in set 2 and not in set 1
'''
print(set2.difference(set1))

{'worah', 50, 20, 10, 'nidhi', 60}
{'nidhi'}
{50, 10, 20, 60}
{'worah'}

### Frozenset
the difference between set and frozenset is that fs is immutable. That's it! Bas!

In [16]:
fs = frozenset(myset)
print(type(fs))
print(fs)

<class 'frozenset'>
frozenset({True, 34.78, 3, 5, 7, 9, 45, 78, 'abc', 'cfg'})

#### Dictionary 
stores data in key-value pair

**used for** :

1. unordered
2. key value pair
3. duplicate keys are not allowed
4. duplicate values are allowed
5. growable
6. mutable

In [25]:
mydictionary = {
    101 : 'prashant', 
    102 : 'nidhi',
    103 : 'roy',
    104 : 'roy' , 
    'duplictate' : 'dsijfkl'
                }

mydictionary

# accessing keys
mydictionary[101]
mydictionary['duplictate']

# updating values
mydictionary[101] = 'new value added'
mydictionary

# adding values
mydictionary[105] = 5
mydictionary

{101: 'new value added',
 102: 'nidhi',
 103: 'roy',
 104: 'roy',
 'duplictate': 'dsijfkl',
 105: 5}

## Operators

### Identity Operators
we check if the object is present in the datatype or not 
1. is

### Membership 
we check if the object is present in the collection dataset or not
1. in

In [28]:
x = 10
y = 10
x is not y

False

In [30]:
69 in mytuple
69 in mydictionary

False

## Conditional Statements
1. if statements
2. if else 
3. if elif else

In [34]:
# if statement
a = int(input('enter a number'))
if a > 0:
    print('the number is positive')
if a < 0:
    print('the number is negative')
if a == 0:
    print('the number is 0')

the number is 0

In [40]:
#max and min using simple if statements

a = int(input('enter value for a'))
b = int(input('enter value for b'))
c = int(input('enter value for c'))
d = int(input('enter value for d'))
e = int(input('enter value for e'))

max = a
if b > max:
    max = b
if c > max:
    max = c
if d > max:
    max = d
if e > max:
    max = e

print(f'The maximum value of {a}, {b}, {c}, {d}, {e} is {max}')


min = a
if b < min:
    min = b
if c < min:
    min = c
if d < min:
    min = d
if e < min:
    min = e

print(f'The minimum value of {a}, {b}, {c}, {d}, {e} is {min}')

The maximum value of 12, 23, 56, 78, 9 is 78
The minimum value of 12, 23, 56, 78, 9 is 9

In [41]:
# if else statements
age = int(input('enter your age'))

if age >= 18:
    print('you are eligible to apply for driving license')

else:
    print('you are not eligible to apply for driving license')

you are eligible to apply for driving license

In [42]:
# if elif else statements
a = int(input('enter value for a'))
b = int(input('enter value for b'))

if a > b:
    print(f'{a} is greater than {b}')
elif a == b:
    print(f'{a} is equal to {b}')
else:
    print(f'{a} is less than {b}')

45 is less than 67

In [45]:
# determine if a student passed or failed and determine the percentage
marks_1 = int(input('enter marks for paper 1'))
marks_2 = int(input('enter marks for paper 2'))
marks_3 = int(input('enter marks for paper 3'))
marks_4 = int(input('enter marks for paper 4'))
marks_5 = int(input('enter marks for paper 5'))
practical_1 = int(input('enter marks of practical 1'))
practical_2 = int(input('enter marks of practical 2'))

percentage =( marks_1 + marks_2 + marks_3 + marks_4 + marks_5) / 5

if marks_1 >=40 and marks_2 >= 40 and marks_3 >= 40 and marks_4 and marks_5>=40 and practical_1>=10 and practical_2>=10:
    print(f'you passed with {percentage}%')

else:
    print('you failed')

you failed

In [58]:
# 48 - 57 - numbers
# 65 - 90 - caps
# 97 - 122 - small

ch = input()

if len(ch) > 1:
    print('enter a single charachter')
else:
    if(ord(ch) >= 65 and ord(ch) <= 90):
        print('Upper')
    elif(ord(ch) >= 97 and ord(ch) <= 122):
        print('Lower')
    elif(ord(ch) >= 48 and ord(ch) <= 57):
        print('Number')
    else:
        print('Symbol')

enter a single charachter

In [52]:
variable = 'A'
print(ord(variable))

65

### Loops
for loop and while loop are both entry point loops, i.e. we cannot go inside the loop without checking the condition

when we know the range, we use for loop <br>
and we use while loop when we dont know the range.

Demonstrating the difference between for loop and while loop

### for loop
    - break statement
    - continue statement

In [61]:
for i in range(1,13):
    print(f'2 x {i} = {2*i} ')

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20
2 x 11 = 22
2 x 12 = 24

In [66]:
for i in range(2,11):
    print('\n')
    for j in range (1,13):
        print(f'{i} x {j} = {i*j}')

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20
2 x 11 = 22
2 x 12 = 24


3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30
3 x 11 = 33
3 x 12 = 36


4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40
4 x 11 = 44
4 x 12 = 48


5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50
5 x 11 = 55
5 x 12 = 60


6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
6 x 10 = 60
6 x 11 = 66
6 x 12 = 72


7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70
7 x 11 = 77
7 x 12 = 84


8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
8 x 10 = 80
8 x 11 = 88
8 x 12 = 96


9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81
9 x 10 = 90
9 x 11 = 99
9 x 12 = 108


10 x 1 = 10
10 x 2 = 20
10 x 3 = 30
10 x 4 = 40
10 x 5 = 50
10 x 6 = 60
10 x 7 = 70
10 x 8 = 80
10 x 9 = 90
10 x 10 = 100
10 x 11 = 110
10 x 12 = 120

#### `break` and `continue` statements
When the program execution reaches a `continue` statement, the program execution immediately jumps back to the start of the loop.<br>
If the execution reaches a `break` statement, it immediately exits the loop

In [5]:
# break statement
for i in range (1,10):
    if i == 5:
        break
    print(i)

1
2
3
4

In [8]:
name = input('enter your name')
i=0
for x in name:
    if x == 'n':
        print(f'The character present at index {i} is {x} ')
        break
    i = i+1

In [9]:
#continue statements
for i in range(1,10):
    if i == 5:
        continue
    print(i)

1
2
3
4
6
7
8
9

In [10]:
mycart = [10,20,200,300,800,60,700]
for i in mycart:
    if i>400:
        print('this is my purchased cart item')
        continue
    print(i)

10
20
200
300
this is my purchased cart item
60
this is my purchased cart item

In [17]:
for i in range(1,6):
    if i == 3:
        continue
    print(i , (6-i))

1 5
2 4
4 2
5 1

In [19]:
#alternate way to print the above given pattern
for i, j in zip(range(1,6), range(5,0,-1)):
    if i == 3 and j == 3:
        continue
    print(i, j)

1 5
2 4
4 2
5 1

#### while loop

In [24]:
i = 0 
while i < 6:
    i = i + 1
    if i == 3 :
        continue
    print(i)

# 6 print ho raha hai because we are incrementing the value of i before printing it. Thats why output starts with 1 and exits at 6

1
2
4
5
6

In [27]:
name = ''
while name!= 'nidhi':
    name = input('whats you name bitch')
    
print ('thanks for entering a valid name')

thanks for entering a valid name

In [30]:
toggle = True
while toggle == True:
    print('1. add \n 2. mul \n 3. div \n 4. sub \n')
    choice = int(input('enter your choice:'))
    first_num = float(input('enter your first num: '))
    second_num = float(input('enter your second num: '))
    if choice == 1:
        print(first_num + second_num)
    if choice == 2:
        print(first_num*second_num)
    if choice == 3:
        print(first_num/second_num)
    if choice == 4:
        print(first_num - second_num)

    toggle_input = input('do you want to continue (yes/no)')
    if toggle_input == 'yes':
        toggle = True
    else:
        toggle = False

1. add
 2. mul
 3. div
 4. sub

10.0
1. add
 2. mul
 3. div
 4. sub

6.0

In [35]:
# count the no. of pairs of similar numbers [2,3,4,4,2,5,2,1,5,5]
countOf2 = 0
countOf3 = 0
countOf4 = 0
countOf5 = 0

input_list = [2,3,4,4,2,5,2,1,5,5]

for element in input_list:
    if element == 2:
        countOf2 = countOf2 + 1
    if element == 3:
        countOf3 = countOf3 + 1
    if element == 4:
        countOf4 = countOf4 + 1
    if element == 5:
        countOf5 = countOf5 + 1

print('the no of pairs of 2 are ',int(countOf2/2))
print('the no of pairs of 3 are ',int(countOf3/2))
print('the no of pairs of 4 are ',int(countOf4/2))
print('the no of pairs of 5 are ',int(countOf5/2))

the no of pairs of 2 are  1
the no of pairs of 3 are  0
the no of pairs of 4 are  1
the no of pairs of 5 are  1

## Basic questions

In [4]:
# swap 2 numbers using 3 variable
a = 30
b = 40
c = b
b = a
a = c
print(f'a is now {a} and b is {b}')

a is now 40 and b is 30

In [5]:
# swap 2 numbers using only 2 variables
a = 30 
b = 40
a = a+b #70
b = a-b #30
a = a-b #40
print(f'a is now {a} and b is {b}')

a is now 40 and b is 30